{% extends 'base.html.twig' %}


{# templates/base.html.twig #}

{# beware that the blocks in your template may be named different #}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/cart.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
{{ include('header/header.php') }}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.product.name }}</td>
                                <td>{{ element.product.price }} €</td>
                                <td>{{ element.quantity }}</td>
                                <td>{{ element.quantity * element.product.price }} €</td>
                                <td>
                                    <a href="{{ path('cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('cart_delete', {id: element.product.id}) }}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total }} €</td>
                            <td>
                                <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <a href="{{ path('app_orders_add') }}" class="btn btn-primary">Valider le panier</a>
            </div>
        </section>
    </main>
{% endblock %}