{% extends 'base.html.twig' %}

{% block title %}Détails de
    {{ product.name }}
{% endblock %}

{% block stylesheets %}
<link href="/details.css" rel="stylesheet">
{% endblock %}

{% block body %}
{{ include('header/header.php') }}

<div class="ProductDetailscontainer">
<div class="product-details">
        <div class="product-image">
            <img src="{{ vich_uploader_asset(product,'imageFile') }}">
        </div>
        <div class="product-info">
            <h2 class="retro-text">{{ product.name }}</h2>
            <p class="retro-text">{{ product.description }}</p>
            <p class="retro-text"><strong>Price:</strong> {{ product.price }} </p>
            {% if product.quantity > 0 %}
             <p class="retro-text"><strong>Quantity:</strong> {{ product.quantity }} </p>
                    <a href="{{ path('cart_add', {id: product.id}) }}" class="retro-button">Ajouter au panier</a>
                {% else %}
                    <p class="retro-text">Temporairement en rupture de stock</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}




