{% extends 'base.html.twig' %}

{% block title %}Products {% endblock %}

{% block stylesheets %}
<link href="/shop.css" rel="stylesheet">
<link href="/button.css" rel="stylesheet">
{% endblock %}

{% block body %}


{% include 'header/header.php' %}
    <!-- Icônes à droite -->
    
 <h1 class ="title">Bienvenue sur MacPhone shop!</h1>
    <main>
    {% for product in products %}
        <div class="product">
         
            <img src="{{ vich_uploader_asset(product,'imageFile') }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <span class="price">{{ product.price }}$</span>
            <div class="btBox"> 
            <button class="retro-button" onclick="window.location.href='{{ path('products_details', {"id": product.id }) }}'">Voir les détails</button>
            </div>
            
        </div>
        {% endfor %} 

    </main>


{% endblock %}